@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    background-color: #fff;
    color: #000;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-size: cover;
    padding: 0;
    margin: 0;
}

main p,form,h1,h2 {
  margin: 10px;
}


#name {
    float: left;
}

ol {
    list-style-type: none;
    margin: 0;
    margin-top: -20px;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-size: 25px;
  }
  
ol li {
    float: right;
    color: #fff;
  }
  
li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff;
  }
  
li a:hover {
    background-color: #cac4c4;
}

.listings {
  background-color: #fff;
  color: #000;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.heading {
  padding-bottom: 50px;
}

.bubble {
  margin: 10px;
  font-weight: 500;
  padding: 10px;
  border: 5px #000 solid;
  box-sizing: border-box;
  display: inline-block;
  width: 30%;
  margin: 0 5px 10px 5px;

  @media (max-width: 768px) {
    width: 46.67%;
  }
  @media (max-width: 576px) {
    width: 100%;
    margin: 10px auto;
  }
}

.bubble:hover{
  border: 5px #fff solid;
  color: #fff;
  background-color: #000;
}

.jobs {
  background-color: #000;
  color: #fff;
  font-weight: 500;
  max-width: max-content;
  height: auto;
  padding: 100px;
}

.title {
  text-align: center;
  color: #fff;
  background-color: #000;
  padding-top: 200px;
  padding-bottom: 200px;
} 