@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #000;
    box-sizing: border-box;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("dwg.png");
    background-size: cover;
    padding: 0;
    margin: 0;
}

main {
    padding: 10px;
}

h1 {
    color: #fff;
}

#h-main {
    font-size: 12vw;
}

#name {
    float: left;
}

a, p{
    color: #fff;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    font-size: 25px;
  }
  
li {
    float: right;
  }
  
li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #cac4c4;
  }

#bb {
    width: 100px;
    padding: 10px;
    margin: 10px;
    background: black;
    color: white;
}

#bb:hover {
    color: black;
    background: white;
}

#bw {
    width: 100px;
    padding: 10px;
    margin: 10px;
    color: black;
    background: white;
}

#bw:hover {
    background: black;
    color: white;
}